/*-- Universal-colors --*/

.bg-yellow {
  background-color: #fcd232;
}

.bg-yellow-1 {
  background-color: #ffcc02;
}

.btn-color {
  background-color: #ff1300 !important;
  font-weight: bold !important;
  border-radius: 5% !important;
}

.bg-filter-fotter {
  background-color: #302f38;
}

.bg-filter-fotter-1 {
  background-color: #302f38;
}

.bg-filter-fotter:hover {
  background-color: #eb3b3b;
  color: #302f38;
}

.red-bg {
  background-color: #eb3b3b;
}

/*-- Navbar --*/

h1,
h2 {
  text-shadow: 3px 0px 5px rgba(150, 150, 150, 0.95);
}

.logo {
  width: 40px;
}

figcaption {
  font-size: 10px;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: #302f38;
  overflow-x: hidden;
  transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.overlay-content {
  position: relative;
  top: 17%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.5s ease-in;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
  text-decoration: none;
}

.overlay .closebtn {
  position: absolute;
  right: 45px;
  font-size: 60px;
}

.nav-icon {
  font-size: 45px;
  cursor: pointer;
  display: block;
  text-align: left;
  padding-right: 15px;
}

/* Grow */

.nav-item {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active {
  transform: scale(1.1);
}

/* pop*/

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*-- Background-Section --*/

.bg-img {
  background-image: url("Images/StockSnap_8LHTBAZW32.jpg");
  height: 56vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*-- Cards --*/

.h2-color {
  color: #302f38;
}

.card {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  border-radius: 15px !important;
  border: none !important;
  background-color: #112c2c;
}

.card-img-top {
  border-radius: 15px 15px 0px 0px !important;
  height: 215px;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.f-size {
  font-size: 25px;
}

.form-control {
  height: 60px !important;
}
.bt {
  padding: 10px !important;
  margin-top: 37px !important;
}

.container-1 {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 29px;
}

.container-1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  width: 50px;
  height: 47px;
  margin: -25px 0 2px 0;
  background: #302f38;
  border-radius: 100%;
}

.container-1:hover input ~ .checkmark {
  background-color: #302f38;
}

.container-1 input:checked ~ .checkmark {
  background-color: #302f38;
}

.checkmark:after {
  content: "";
  display: none;
}

.container-1 input:checked ~ .checkmark:after {
  display: block;
}

.container-1 .checkmark:after {
  margin-left: 21px;
  margin-top: 6px;
  width: 12px;
  height: 30px;
  border: solid #eb3b3b;
  border-width: 0 6px 6px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.br-span {
  border-radius: 5px !important;
}

#load-more {
  display: none;
}

/*-- Vraboti-Student-html --*/

.bg-padding {
  padding: 107px 0px;
}
.bg-padding-1 {
  padding-bottom: 173px;
}

/*-- Media Queries --*/

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 68px !important;
  }

  .cardjs {
    display: none;
  }
  .cardjs:nth-of-type(1),
  .cardjs:nth-of-type(2),
  .cardjs:nth-of-type(3),
  .cardjs:nth-of-type(4),
  .cardjs:nth-of-type(5),
  .cardjs:nth-of-type(6) {
    display: inline-block;
  }

  .container-1 .checkmark:after {
    margin-left: 13px;
    margin-top: 3px;
    width: 16px;
    height: 26px;
  }

  .checkmark {
    width: 41px;
    height: 39px;
    margin: -17px -14px 3px 86px;
  }

  .container-1 {
    font-size: 29px;
    padding: 10px 38px;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    font-size: 50px !important;
  }
  .f-size {
    font-size: 43px !important;
  }
  .container-1 {
    font-size: 17px;
    padding: 10px;
  }
  .container-1 .checkmark:after {
    margin-left: 7px;
    margin-top: 3px;
    width: 10px;
    height: 16px;
    border-width: 0px 3px 3px 0;
  }

  .checkmark {
    width: 24px;
    height: 25px;
    margin: -12px -10px 0px 0;
  }
  #load-more {
    display: block;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 43px !important;
  }
  .f-size {
    font-size: 39px !important;
  }
  .container-1 {
    font-size: 15px;
    padding: 5px;
  }
}
@media only screen and (max-width: 320px) {
  .container-1 {
    font-size: 13px;
    padding: 3px;
  }
  .f-size {
    font-size: 33px !important;
  }
}
